.dual{
     background-color: burlywood;
     color: whitesmoke;
}
.dual8{
     background-color: red;
     color: white;
}

.dual6{
    background-color: blue;
    color:brown
}
.cuadrado{
    border: 2px;
}